@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

<div style="display: flex; flex-direction: column; gap: 10px; width: 200px;">
    <a class="btn btn-primary" href="#">Cursos</a>
    <a class="btn btn-primary" href="@Url.Action("Pregrados", "Home")">Pregrados</a>
    <a class="btn btn-primary" href="#">Postgrados</a>
    <a class="btn btn-primary" href="#">Especializaciones</a>
</div>
