@{
    ViewBag.Title = "Ingeniería Civil";
}

<h2>Ingeniería Civil</h2>

<div style="display: flex; flex-direction: column; gap: 10px; width: 200px;">
    <a class="btn btn-warning" href="@Url.Action("Materias", "Home")">Materias</a>
    <a href="@Url.Action("Horarios", "Home")" class="btn btn-success btn-block">Horarios</a>
    

</div>
