@{
    ViewBag.Title = "Ingeniería Civil";
}

<h2>Ingeniería Civil</h2>

<div style="display: flex; flex-direction: column; gap: 10px; width: 200px;">
    <a class="btn btn-warning" href="#">Materias</a>
    <a class="btn btn-warning" href="#">Horarios</a>
</div>
