@page
@model SistemaUniversitarioWeb.Views.Home.MecatronicaModel
@{
    ViewBag.Title = "Materias - Mecatrónica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="display: flex; flex-direction: column; gap: 10px; width: 200px;">
    <a class="btn btn-warning" href="@Url.Action("Materias", "Home")">Materias</a>
    <a href="@Url.Action("Horarios", "Home")" class="btn btn-success">Ver Horarios</a>

</div>
@Html.Partial("Materias")

