@{
    ViewBag.Title = "Pregrados";
}

<h2>Pregrados</h2>

<div style="display: flex; flex-direction: column; gap: 10px; width: 200px;">
    <a class="btn btn-success" href="@Url.Action("IngenieriaCivil", "Home")" class="btn btn-outline-success btn-block">Ingeniería Civil</a>
    <a href="@Url.Action("Mecatronica", "Home")" class="btn btn-outline-success btn-block">Mecatrónica</a>
    <a href="@Url.Action("Derecho", "Home")" class="btn btn-outline-info btn-block">Derecho</a>
</div>