@{
    ViewBag.Title = "Pregrados";
}

<h2>Pregrados</h2>

<div style="display: flex; flex-direction: column; gap: 10px; width: 200px;">
    <a class="btn btn-success" href="@Url.Action("IngenieriaCivil", "Home")">Ingeniería Civil</a>
    <a class="btn btn-success" href="#">Mecatrónica</a>
    <a class="btn btn-success" href="#">Derecho</a>
</div>